mj-section(background-color='#270938' padding-top='20px' padding-bottom='20px')
        mj-column(width='530px')
            mj-text(align='center' padding-top='0' padding-bottom='0' font-size='28px' font-weight='500' color='#BA4995') #[strong(style='color:#ffffff;') Vous avez besoin de recruter !] Nous avons des #[strong(style='color:#ffffff;') solutions en alternance] pour renforcer vos équipes. Profitez des aides gouvernementales et d'un accompagnement complet avec Ecosup Assurance.
            mj-button(padding='25px 0 15px 0' align='center' font-size='16px' background-color='#BA4995' color='#ffffff' href='https://forms.gle/VzjhCrdHUZhyeTCa7') Contactez-nous