//- banniere Logo
mj-section(background-color='#EDF2F7' padding-top='20px' padding-bottom='5px' padding-left='0px' padding-right='0px')
    mj-group(width="500px")  
        mj-column(width='50%' padding='10px')
            mj-image(align='left' padding='0' width='256px' src='https://img.mailinblue.com/3403292/images/content_library/original/65eb2771d0c8d6691c4e4e7c.png' href='https://ecosup-assurance.fr' alt='Logo Ecosup Assurance')/
        mj-column(width='50%' padding='10px')
            mj-image(align='right' padding='0' width='150px' src='https://img.mailinblue.com/3403292/images/content_library/original/65eb277b6d8c909673de86c1.png' alt='Logo de la Newsletter')/ 
//- Reseaux sociaux       
mj-section(background-color='#EDF2F7' padding='0px 32px' css-class='M_paddingHead')
    mj-column(css-class='M_paddingReset')
        mj-social(css-class='M_paddingRS' align='right' padding='0 1px 0 0' icon-size='30px'  mode='horizontal')
            mj-social-element(src='https://img.mailinblue.com/3403292/images/content_library/original/65e9a0e8e9b9c597806fa9e9.gif' href='https://www.facebook.com/EcosupAssurance/' alt='icon Facebook')
            mj-social-element(src='https://img.mailinblue.com/3403292/images/content_library/original/65e9a0f123605bbe5926c9b7.gif' href='https://www.instagram.com/ecosup.campus/' alt='icon Instagram')
            mj-social-element(src='https://img.mailinblue.com/3403292/images/content_library/original/65e9a0f823605bbe5926c9b9.gif' href='https://linkedin.com/company/ecosup-campus' alt='icon Linkedin')     
//- Numéro Newsletter
mj-section(background-color='#EDF2F7' padding='0px 32px' css-class='M_paddingHead')
    mj-column(css-class='M_paddingReset')
        mj-text(padding='2px 0' align='left' font-size='16px' font-weight='300' color='#2D3748') #[span(style='font-weight:700;text-transform:uppercase') News Ecosup Assurance] | Mai 2024  